{
	"printWidth": 200,
	"tabWidth": 4,
	"useTabs": true,
	"embeddedLanguageFormatting": "auto",
	"singleQuote": false,
	"bracketSpacing": true,
	"objectWrap": "preserve",
	"proseWrap": "preserve",
	"bracketSameLine": true,
	"singleAttributePerLine": false,
	"semi": true,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"arrowParens": "always",
	"trailingComma": "none",
	"experimentalTernaries": false,
	"experimentalOperatorPosition": "start",
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": false,
	"insertPragma": false,
	"requirePragma": false
}
